# Assignment # 1

In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [2]:
my_str = "Data Science Impact Batch"
my_list = [1, 2, 3, "Python", 2j, 4.0, True]
float_var = 10.0
my_tuple = (5, 8, "Java", 2.0, 5j)

In [6]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.

# What will be the data type of the above given variable.

In [7]:
var1 = ''   # Data type is string
var2 = '[ DS , ML , Python]'    # Data type is string
var3 = [ 'DS' , 'ML' , 'Python' ]  # Data type is list
var4 = 1.   # Data type is float

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [8]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

/ - This is Arithmetic operator used for division in python

In [9]:
a = 7
b = 2

# division
print ('Division: ', a / b)

Division:  3.5

% - This is another arithmetic operator in python called modulo used to get the remainder

In [10]:
# modulo
print ('Modulo: ', a % b)

Modulo:  1

// - Arithmetic operator in python to floor divide

In [12]:
# floor division
print ('Floor Division: ', a // b)

Floor Division:  3

** - Arithmetic operator in python called exponential to get the power

In [13]:
# a to the power b
print ('Power: ', a ** b)

Power:  49

In [14]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [15]:
my_list = ["Data", 4j, 7, 3.0, True, ("a", "b"), {"a":5, "b":2}, ["c", "d"], {1,2,3}, 10]

In [56]:
for i in my_list:    
    print("The list item is", i, "and it's data type is", type(i).__name__)

The list item is Data and it's data type is str
The list item is 4j and it's data type is complex
The list item is 7 and it's data type is int
The list item is 3.0 and it's data type is float
The list item is True and it's data type is bool
The list item is ('a', 'b') and it's data type is tuple
The list item is {'a': 5, 'b': 2} and it's data type is dict
The list item is ['c', 'd'] and it's data type is list
The list item is {1, 2, 3} and it's data type is set
The list item is 10 and it's data type is int

In [36]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

float

In [65]:
a = int(input("Kindly enter the value of a: "))
b = int(input("Kindly enter the value of b: "))

count = 0 

while a>=b:
    if a%b ==0:
        a = a/b
        count+=1
    else:
        break
        
print("The number a can be divided by number b:", count)

Kindly enter the value of a: 2
Kindly enter the value of b: 4
The number a can be divided by number b: 0

In [66]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [70]:
int_list = [98, 34, 57, 89, 37,  9, 86,  9, 96, 35, 43, 14, 91, 62,  9, 38, 17,
       95, 33, 75, 38, 55, 39, 13,  9]

for i in int_list:
    if i%3==0:
        print("The number", i, "is divisible by 3")
    else:
        print("The number", i, "is not divisible by 3")

The number 98 is not divisible by 3
The number 34 is not divisible by 3
The number 57 is divisible by 3
The number 89 is not divisible by 3
The number 37 is not divisible by 3
The number 9 is divisible by 3
The number 86 is not divisible by 3
The number 9 is divisible by 3
The number 96 is divisible by 3
The number 35 is not divisible by 3
The number 43 is not divisible by 3
The number 14 is not divisible by 3
The number 91 is not divisible by 3
The number 62 is not divisible by 3
The number 9 is divisible by 3
The number 38 is not divisible by 3
The number 17 is not divisible by 3
The number 95 is not divisible by 3
The number 33 is divisible by 3
The number 75 is divisible by 3
The number 38 is not divisible by 3
The number 55 is not divisible by 3
The number 39 is divisible by 3
The number 13 is not divisible by 3
The number 9 is divisible by 3

In [ ]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

Immutable data types are those whose values cannot be changed after they are created. Whenever you perform an operation that appears to modify an immutable object, you are actually creating a new object with the modified value. Examples of immutable data types in Python include
1) Numbers(int, float, complex) 
2) Tuples 
3) strings

On the other hand, mutable data types allow modifications to their values after they are created. This means you can change the internal state of the object without creating a new object. Examples of mutable data types in Python include:
1) Lists
2) Sets
3) Dictionaries